<!doctype html>
<html>
<head>
    <title>Index</title>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
</head>
<body>
    <div id="wrap">
        <header>
        <h1>Financial Calculators</h1>
        </header>

        <nav>
        <h2>List of Financial Calculators</h2>
        <p><a href="./FutureValueCalculator">Future Value Calculator</a></p>
        <p><a href="./PresentValueCalculator">Present Value Calculator</a></p>
        <p><a href="./PERatioCalculator">Price Earnings Ratio Calculator</a></p>
        <p><a href="./DOLCalculator">Degree of Operating Leverage Calculator</a></p>
        <p><a href="./DFLCalculator">Degree of Financial Leverage Calculator</a></p>
        <p><a href="./DCLCalculator">Degree of Combined Leverage Calculator</a></p>
        <p><a href="./OperatingIncomeCalculator">Operating Income Calculator</a></p>
        <p><a href="./ReturnOnEquityCalculator">Return On Equity Calculator</a></p>
        </nav>
        <footer>
        <p>Created by Abraham, Justin, Mark, Mike, and Tyler for our Senior Project, in Information Technology Management Final Project.<p>
        </footer>
    </div>
</body>
</html>