<!doctype html>
<html>
<head>
    <title>Index</title>
        <script src="./javascripts/search.js"></script>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
</head>
<body>
    <header>
        <h1>Financial Calculators</h1>
    </header>

    <form method="get" action="http://www.google.com">
        <input type="text" name="query" size="21" maxlength="120">
        <input type="submit" value="search">
    </form>

    <nav>
    <h2>List of Financial Calculators</h2>
        <p><a href="./FutureValueCalculator">Future Value Calculator</a></p>
        <p><a href="./PresentValueCalculator">Present Value Calculator</a></p>
        <p><a href="./PERatioCalculator">Price Earnings Ratio Calculator</a></p>
        <p><a href="./DOLCalculator">Degree of Operating Leverage Calculator</a></p>
        <p><a href="./DFLCalculator">Degree of Financial Leverage Calculator</a></p>
        <p><a href="./DCLCalculator">Degree of Combined Leverage Calculator</a></p>
        <p><a href="./OperatingIncomeCalculator">Operating Income Calculator</a></p>
        <p><a href="./ReturnOnEquityCalculator">Return On Equity Calculator</a></p>
        <p><a href="./FutureValueOfAnnuityCalculator">Future Value Of Annuity Calculator</a></p>
        <p><a href="./PresentValueOfAnnuityCalculator">Present Value Of Annuity Calculator</a></p>
        <p><a href="./PriceOfACommonStockTodayCalculator">Price of a Common Stock Today Calculator</a></p>
        <p><a href="./BreakEvenPointCalculator">Break-Even Point Calculator</a></p>
        <p><a href="./ContributionMarginCalculator">Contribution Margin Calculator</a></p>
        <p><a href="./DilutedEarningsPerShareCalculator">Diluated EPS Calculator</a></p>
        <p><a href="./DuPontMethodCalculator">DuPont Method Calculator</a></p>
        <p><a href="./AverageCollectionPeriodCalculator">Average Collection Period Calculator</a></p>
        <p><a href="./EffectiveInterestRateCalculator">Effective Interest Rate Calculator</a></p>
        <p><a href="./CostOfMissingDiscountCalculator">Cost of Missing Discount Calculator</a></p>
        <p><a href="./EconomicOrderingQuantityCalculator">Economic Ordering Quantity Calculator</a></p>
        <p><a href="./PaybackPeriodCalculator">Payback Period Calculator</a></p>
        <p><a href="./EarningsPerShareCalculator">Earnings Per Share Calculator</a></p>
        <p><a href="./GrossProfitMarginCalculator">Gross Profit Margin Calculator</a></p>
        <p><a href="./OperatingProfitCalculator">Gross Profit Margin Calculator</a></p>
        <p><a href="./ReturnOnAssetsCalculator">Return On Assets Calculator</a></p>
        <p><a href="./RequiredRateOfReturnCalculator">Required Rate Of Return Calculator</a></p>
        <p><a href="./YieldToMaturityCalculator">Yield to Maturity Calculator</a></p>
        <p><a href="./CouponRateCalculator">Coupon Rate Calculator</a></p>
        <p><a href="./ResidualClaimsToEarningsCalculator">Residual Claims to Earnings Calculator</a></p>
    </nav>
    <footer>
        <p>Created by Abraham, Justin, Mark, Mike, and Tyler for our Senior Project, in Information Technology Management Final Project.<p>
    </footer>
</body>
</html>