<!doctype html>
<html>
<head>
    <title>Index</title>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
</head>
<body>
    <div id="wrap">
        <div id="header">
        <h1>Financial Calculators</h1>
        </div>

        <div id="nav">
        <ul>
        <li><a class="active" title="Home" href="#">Home</a></li>
        </ul>
        </div>

        <div id="content">
        <h2>List of Financial Calculators</h2>
        <p><a href="./FutureValueCalculator">Future Value Calculator</a></p>
        <p><a href="./PresentValueCalculator">Present Value Calculator</a></p>
        <p><a href="./PERatioCalculator">Price Earnings Ratio Calculator</a></p>

        <div id="footer">
        <p>Created by Abraham, Justin, Mark, Mike, and Tyler for our Senior Project, in Information Technology Management Final Project.<p>
        </div>
    </div>
</body>
</html>