<!DOCTYPE html>
<html>
<head>
    <title>Break-Even Point Calculator</title>
    <script src="./javascripts/BreakEvenPointCalculator.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <script src="./javascripts/validation.js"></script>
    <link rel="Stylesheet" href="../../public/stylesheets/style.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Break-Even Point</h1>
    <p>This equation is used to determine the number of units must be sold for revenue to offset fixed and variable costs.</p>

    <h3>Equation</h3>
    \(BEP \ in \ Units = \frac{Fixed \ Cost}{Unit \ Price - Variable \ Costs}\)

    <h3>Calculator</h3>
    <form>
        <label for=FixedCost>Fixed Costs:</label><br />
        <input type="text" placeholder="Fixed Cost" id="FixedCost" oninput="$isValidFloat('#FixedCost')" /><br />
        <label for=VariableCosts>Variable Costs:</label><br />
        <input type="text" placeholder="VariableCosts" id="VariableCosts" oninput="$isValidFloat('#VariableCosts')" /><br />
        <label for=UnitPrice>Unit Price:</label><br />
        <input type="text" placeholder="Unit Price" id="UnitPrice" oninput="$isValidFloat('#UnitPrice')" /><br /><br />
        <input type="button" value="Calculate" onclick="$calculate()" />
        <p>Future Value = <output for="FixedCost VariableCosts Price" id="result" /></p>
    </form>
</body>
</html>