<!DOCTYPE html>
<html>
<head>
    <title>Degree of Combined Leverage</title>
    <script src="../../public/javascripts/DCLCalculator.js"></script>
    <script src="../../public/javascripts/jquery.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Degree of Combined Leverage</h1>
    <p>This equation is used to determine the Degree of Combined Leverage (DCL) using the percent change in Earnings Per Share (EPS) and the percent change in Sales.</p>

    <h3>Equation</h3>
    \( DCL = {\frac{\% \ Change \ in \ EPS}{\% \ Change \ in \ Sales}} \)

    <h3>Calculator</h3>
    <form>
        <label for=PercentChangeInEps>% Change in EPS:</label><br />
        <input type="text" placeholder="% Change in EPS" id="PercentChangeInEps" oninput="$isValidPercent('#PercentChangeInEps')" /><br />
        <label for=PercentChangeInSales>% Change in Sales:</label><br />
        <input type="text" placeholder="% Change in Sales" id="PercentChangeInSales" oninput="$isValidPercent('#PercentChangeInSales')" /><br />
        <input type="button" value="Calculate" onclick="$calculate()" />
        <p>DCL = <output for="PercentChangeInEps PercentChangeInSales" id="result" /></p>
    </form>
</body>
</html>