<!DOCTYPE html>
<html>
<head>
    <title>Earnings Before Depreciation And Taxes</title>
    <script src="./javascripts/EarningsBeforeDepreciationAndTaxesCalculator.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <script src="./javascripts/validation.js"></script>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Earnings Before Depreciation And Taxes </h1>
    <p>This equation is used to calcuate earnings before depreciation and taxes.</p>

    <h3>Equation</h3>
    \(Earnings\ Before\ Depreciation\ And\ Taxes = Sales\ Revenue &minus; Salaries &minus; Rent\ and\ Utilities &minus; Interest\ Expense &minus; Other\ Expenses\)

    <h3>Calculator</h3>
    <form>
        <label for=salesRevenue>Sales Revenue:</label><br />
        <input type="text" placeholder="Net Earnings" id="salesRevenue" oninput="$isValidFloat('#salesRevenue')" /><br />
		
        <label for=salaries>Salaries:</label><br />		
        <input type="text" placeholder="salaries" id="salaries" oninput="$isValidFloat('#salaries')" /><br />
		
        <label for=RateOfReturn>Rent and Utilities:</label><br />		
        <input type="text" placeholder="Rent and Utilities" id="rentAndUtil" oninput="$isValidFloat('#rentAndUtil')" /><br />
							
        <label for=interestEx>Interest Expense:</label><br />		
        <input type="text" placeholder="Interest Expense" id="interestEx" oninput="$isValidFloat('#interestEx')" /><br />
		
        <label for=otherEx>Other Expenses:</label><br />		
        <input type="text" placeholder="Other Expenses" id="otherEx" oninput="$isValidFloat('#otherEx')" /><br />
		
        <input type="button" value="Calculate" onclick="$calculate()" />
		
        <p>Earnings Before Depreciation And Taxes = <output for="NetEarnings interestEx" id="result" /></p>
    </form>
</body>
</html>
