<!DOCTYPE html>
<html>
<head>
    <title>Future Value Calculator</title>
    <script src="../../public/javascripts/EarningsPerShareCalculator.js"></script>
    <script src="../../public/javascripts/jquery.js"></script>
	<script src="../../public/javascripts/validation.js"></script>
    <link rel="Stylesheet" href="../../public/stylesheets/style.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Earnings Per Share</h1>
    <p>Earnings per share (EPS) is the portion of a company's profit that is allocated to each outstanding share of common stock, serving as an indicator of the company's profitability</p>

    <h3>Equation</h3>
    \(Earnings Per Share = {\frac{Net Income - Prefered Dividends}{Common Shares Outstanding}} \)

    <h3>Calculator</h3>
    <form>
        <label for=NetIncome>Net Income:</label><br />
        <input type="text" placeholder="NI" id="NetIncome" oninput="$isValidFloat('#NetIncome')" /><br />
		
        <label for=PreferedDividends>Prefered Dividends:</label><br />
        <input type="text" placeholder="PD" id="PreferedDividends" oninput="$isValidFloat('#PreferedDividends')" /><br />
		
        <label for=CommonSharesOutstanding>Common Shares Outstanding:</label><br />
        <input type="text" placeholder="CSO" id="CommonSharesOutstanding" oninput="$isValidFloat('#CommonSharesOutstanding')" /><br /><br />
		
        <input type="button" value="Calculate" onclick="$calculate()" />
		
        <p>Earnings Per Share = <output for="NetIncome PreferedDividends CommonSharesOutstanding" id="result" /></p>
    </form>
</body>
</html>