<!DOCTYPE html>
<html>
<head>
    <title>Future Value Calculator</title>
    <script src="./javascripts/FutureValueCalculator.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Future Value</h1>
    <p>This equation is used to determine the future value of money given the cash flow, the rate of return, and the number of periods.</p>

    <h3>Equation</h3>
    \(FV = C_{0} &times; (1 &plus; r)^n\)

    <h3>Calculator</h3>
    <form>
        <label for=CashFlow>Cash flow at period 0:</label><br />
        <input type="text" placeholder="C₀" id="CashFlow" oninput="$isValidFloat('#CashFlow')" /><br />
        <label for=RateOfReturn>Rate of return:</label><br />
        <input type="text" placeholder="r" id="RateOfReturn" oninput="$isValidFloat('#RateOfReturn')" /><br />
        <label for=Periods>Number of periods:</label><br />
        <input type="text" placeholder="n" id="Periods" oninput="$isValidFloat('#Periods')" /><br /><br />
        <input type="button" value="Calculate" onclick="$calculate()" />
        <p>Future Value = <output for="CashFlow RateOfReturn Periods" id="result" /></p>
    </form>
</body>
</html>