<!DOCTYPE html>
<html>
<head>
    <title>Future Value of Annuity Calculator</title>
    <script src="./javascripts/FutureValueOfAnnuityCalculator.js"></script>
    <script src="./javascripts/validation.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Future Value of Annuity</h1>
    <p>This equation is used to determine the future value of an annuity.</p>

    <h3>Equation</h3>
    \(FV \ of \ Annuity = P\Big[{\frac{(1 &plus; r)^n &minus; 1}{r}}\Big] \)

    <h3>Calculator</h3>
    <form>
        <label for=CashFlow>Periodic Payment:</label><br />
        <input type="text" placeholder="P" id="PeriodicPayment" oninput="$isValidFloat('#PeriodicPayment')" /><br />
        <label for=RateOfReturn>Rate of return:</label><br />
        <input type="text" placeholder="r" id="RateOfReturn" oninput="$isValidFloat('#RateOfReturn')" /><br />
        <label for=Periods>Number of periods:</label><br />
        <input type="text" placeholder="n" id="Periods" oninput="$isValidFloat('#Periods')" /><br /><br />
        <input type="button" value="Calculate" onclick="$calculate()" />
        <p>Future Value of Annuity = <output for="PeriodicPayment RateOfReturn Periods" id="result" /></p>
    </form>
</body>
</html>