<!DOCTYPE html>
<html>
<head>
    <title>Net Present Value of an Investment for a Five Year Period Calculator</title>
    <script src="./javascripts/NetPresentValueFiveYearCalculator.js"></script>
    <script src="./javascripts/validation.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Net Present Value of an Investment for a Five Year Period Calculator</h1>
    <p>This equation is used to determine the net present value of an investment made today. This is a method which will determine if a project will be profitable or not.</p>

    <h3>Equation</h3>
    \(Net\ Present\ Value =  \Big[{\frac{ Yr1 Cash Flow  }{(DiscountRate)}}\Big] \ + \Big[{\frac{ Yr2Cash Flow }{(DiscountRate) ^ 2}}\Big] \  + \Big[{\frac{ Yr3Cash Flow }{(DiscountRate) ^ 3}}\Big] \  + \Big[{\frac{ Yr4Cash Flow }{(DiscountRate) ^ 4}}\Big] \  + \Big[{\frac{ Yr5Cash Flow }{(DiscountRate) ^ 5}}\Big]  - Initial  Investment \)

    <h3>Calculator</h3>
    <form>
        <label for=initialIvestment>Initial Investment:</label><br />
        <input type="text" placeholder="C" id="initialIvestment" oninput="$isValidFloat('#initialIvestment')" /><br />
        <label for=discountRate>Discount Rate:</label><br />
        <input type="text" placeholder="discountRate" id="discountRate" oninput="$isValidFloat('#discountRate')" /><br />
        <label for=firstYear>Income Generated During The First Year:</label><br />
        <input type="text" placeholder="Yr1CashFlow" id="firstYear" oninput="$isValidFloat('#firstYear')" /><br />
        <label for=secondYear>Income Generated During The Second Year:</label><br />
        <input type="text" placeholder="Yr2CashFlow" id="secondYear" oninput="$isValidFloat('#secondYear')" /><br />
        <label for=thirdYear>Income Generated During The Third Year:</label><br />
        <input type="text" placeholder="Yr3CashFlow" id="thirdYear" oninput="$isValidFloat('#thirdYear')" /><br />
        <label for=fourthYear>Income Generated During The Fourth Year:</label><br />
        <input type="text" placeholder="Yr4CashFlow" id="fourthYear" oninput="$isValidFloat('#fourthYear')" /><br />
        <label for=fifthYear>Income Generated During The Fifth Year:</label><br />
        <input type="text" placeholder="Yr5CashFlow" id="fifthYear" oninput="$isValidFloat('#fifthYear')" /><br />
        <input type="button" value="Calculate" onclick="$calculate()" />
        <p>Net  Present  Value = <output for="initialIvestment discountRate firstYear secondYear thirdYear fourthYear fifthYear" id="result" /></p>
    </form>
</body>
</html>
