<!DOCTYPE html>
<html>
<head>
    <title>WACC Calculator</title>
    <script src="./javascripts/WeightedAverageCostOfCapitalCalculator.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <script src="./javascripts/validation.js"></script>
    <link rel="Stylesheet" href="./stylesheets/style.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true}});
    </script>
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
    </script>
</head>
<body>
    <h1>Weighted Average Cost of Capital</h1>
    <p>This equation calculates the Weighted Average Cost of Capital (WACC) using the following elements:</p>
    <table>
        <tr>
            <th>r(E)</th>
            <td>The <a href="./RequiredRateOfReturnCalculator">cost of equity</a>.</td>
        </tr>
        <tr>
            <th>w(E)</th>
            <td>The weight of equity in the company's total capital structure.</td>
        </tr>
        <tr>
            <th>r(D) &times; (1 &minus; t)</th>
            <td>The <a href="./AfterTaxCostOfDebtCalculator">after tax cost of debt</a>.</td>
        </tr>
        <tr>
            <th>w(D)</th>
            <td>The weight of debt in the company's total capital structure.</td>
        </tr>
    </table>

    <h3>Equation</h3>
    \(WACC = r(E) &times; w(E) &plus; r(D) &times; (1 &minus; t) &times; w(D)\)

    <h3>Calculator</h3>
    <form>
        <label for=CostOfEquity>Cost of Equity:</label><br />
        <input type="text" placeholder="Cost of Equity" id="CostOfEquity" oninput="$isValidFloat('#CostOfEquity')" /><br />
        <label for=WeightOfEquity>Weight of Equity:</label><br />
        <input type="text" placeholder="Weight of Equity" id="WeightOfEquity" oninput="$isValidPercent('#WeightOfEquity')" /><br />
        <label for=CostOfDebt>Cost of Debt:</label><br />
        <input type="text" placeholder="Cost of Debt" id="CostOfDebt" oninput="$isValidFloat('#CostOfDebt')" /><br />
        <label for=TaxRate>Tax Rate:</label><br />
        <input type="text" placeholder="Tax Rate" id="TaxRate" oninput="$isValidPercent('#TaxRate')" /><br />
        <label for=WeightOfDebt>Weight of Debt:</label><br />
        <input type="text" placeholder="Weight of Debt" id="WeightOfDebt" oninput="$isValidPercent('#WeightOfDebt')" /><br />
        <input type="button" value="Calculate" onclick="$calculate()" />
        <p>WACC = <output for="CostOfEquity WeightOfEquity CostOfDebt TaxRate WeightOfDebt" id="result" /></p>
    </form>
</body>
</html>